{% extends 'base.html' %}

{% block head %}
    <link href='https://css.gg/arrow-left.css' rel='stylesheet'>
{% endblock %}

{% block body %}
    <a id="back" class="reveal reveal-left" href="{% url 'home' %}">
        <i class="gg-arrow-left"></i>
    </a>
    <section class="section" id="form-section">
        <h1 class="reveal reveal-up">Welcome to the NSFP Season 1 Interest Form</h1>
        <p class="reveal reveal-up">Please fill out the form below, and we will get back to you about availability by the first week of September.</p>

        <form action="" method="POST" id="interest" class="reveal reveal-up">
            {% csrf_token %}

            {% for field in form %}
                <input autocomplete="off" type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.label }}" class="underline interest-input">
            {% endfor %}

            <input type="submit" value="Submit" id="submit" class="interest-input">
        </form>
    </section>
{% endblock %}
